/* 
##Clearfix

Everything on the website can be clearfixed using the class below

```
<span class="cfix"></span>
```

*/

.cfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  display: inline-block;
}

html[xmlns] .cfix {
  display: block;
}

* html .cfix {
  height: 1%;
}

// .cfix {
//     zoom:1;
//     &:before, &:after {
//         content: "\0020";
//         display: block;
//         height: 0;
//         overflow: hidden;
//     }
//     &:after {
//         clear: both;
//     }
// }
