@import "../_components_sub.scss"; //@import "_placeholders.scss";
// Generic Elements
// All generic classes used throughout the website

* {
 padding: 0;
 margin: 0;
}

html {
 overflow-x: hidden;
}

body {
 min-width: 1020px;
 text-rendering: optimizeLegibility;
 font-family: Arial, helvetica, sans-serif;
 font-size: 12px;
 background: #fff;
}

img {
 border: 0;
}

div {
 text-align: left;
}

table {
 border-collapse: collapse;
}
/*
## Anchors
  ```
  <a href="#">Sportsbet.com.au</a>
  ```
*/
a {
 &:link {
  color: $link-color;
  text-decoration: none;
  outline: none;
 }

 &:visited {
  text-decoration: none;
  outline: none;
  color: $link-color;
 }

 &:hover {
  text-decoration: underline;
  outline: none;
 }
 // &:active {
 //   outline: none;
 //   text-decoration: underline;
 // }
}
/*
## Floats
  ```
  <span class="float-left">Left-Float 1 </span>
  <span class="left">Left-Float 2 </span>
  <span class="float-right">Right-Float 1 </span>
  <span class="right">Right-Float 2 </span>
  ```
*/
.float-left,
.left {
 float: left !important;
}

.float-right,
.right {
 float: right !important;
}
/*
## Clear
  ```
  <div class="clear"></div>
  ```
*/
.clear {
 clear: both;
}
/*
## Strong
  ```
  <p class="strong">Bold Me!</p>
  ```
*/
.strong,
strong {
 font-weight: bold;
}

.width-full {
 width: 100%;
}

.width-half {
 width: 50%;
}

.text-center {
 text-align: center;
}

.text-right {
 text-align: right;
}

.inline {
 display: inline;
}

.ib {
 display: inline-block;
 zoom: 1;
 *display: inline;
 vertical-align: middle;
}
/*
## CSS Tables
These include fixes for IE9
  ```
  <div class="table">
	<div class="theader">
	  <p class="tcell">Table Cell</p>
	</div>
	<div class="trow">
	  <p class="tcell">Table Cell</p>
	</div>
	<p class="tcaption">Table Caption</p>
  </div>
  ```
*/
.table {
 display: table;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

.theader {
 display: table-header-group;
}

.tcell {
 display: table-cell;
}

.trow {
 display: table-row;
}

.tcaption {
 display: table-caption;
}

[data-table] {
 display: table;
 width: 100%;

 [data-table-header],
 [data-table-row] {
  display: table-row;

   > span,
  [data-table-cell] {
   display: table-cell;
  }
 }

 [data-table-header] {
  background-color: #f2f2f2;
  font-weight: bold;
 }

 [data-table-row] {
  border-bottom: 1px solid #f2f2f2;
  font-weight: normal;
 }

 span {
  @include remix(padding, 10px);
  text-align: left;
 }
}
/*
## Horizontal Rule
  ```
  <hr />
  ```
*/
.hr {
 background-color: #E7E7E7;
 height: 1px;
 border: none;
 width: 100%;
 margin: 10px 0;
 display: block;
}

.no-margin {
 //Can this be taken out?
 margin: 0;
}

.no-padding {
 //Can this be taken out?
 padding: 0;
}
/*
## Form Elements

**Basic Elements**

  ```
  <form>
	<input type="text" value="Text">
	<input type="password" value="Password">
	<input type="radio" name="a"><input type="radio" name="a"><input type="radio" name="a">
  </form>
  ```

**Error**

  ```
  <form>
	<input type="text" value="Text" class="input-not-valid">
	<input type="password" value="Password" class="input-not-valid">
	<input type="radio" name="a"><input type="radio" name="a"><input type="radio" name="a">
  </form>
  ```

Note: Success has no specific style yet
*/
form {
 display: inline;
}

input.radio {
 position: relative;
 top: 1px;
}
// ::-webkit-input-placeholder { color:#000; font-style: italic;}
// ::-moz-placeholder { color:#000; font-style: italic;}
// :-ms-input-placeholder { color:#000; font-style: italic;}
// input:-moz-placeholder { color:#000; font-style: italic; }

.input-not-valid {
 background-color: #FEECEC !important;
}

span.success-text {
 color: $success-text;
}

span.error-text {
 color: $error-text;
}

input {
 &[type="password"],
 &[type="text"] {
  padding: 5px 6px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #cacaca;
  @include box-shadow(0, 3px, 8px, 0, rgba(0,0,0,0.1), inset);
 }
}
//Accordion Widget
#my-account {
 [data-accordion] {
  cursor: pointer;
  // padding: 0 12px 0 12px;
  float: right;
  @include disable-select();
 }

 .panel__header.expand {
  @extend .panel__header;

  div {
   @extend %grid-c-1-8;

   span:before {
    @include icon-font();
    content: "\e034";
    color: #ABABAB;
   }
  }
 }

 .panel__header.collapse {
  border-bottom: none;
  margin-bottom: -1px;

  div {
   border-bottom: none;
   @extend %grid-c-1-8;

   span:before {
    @include icon-font();
    content: "\e031";
    color: #ABABAB;
   }
  }
 }
}
//Accordion Widget
[data-accordion] {
 position: relative;
 display: table-cell;
 width: auto;
 min-width: auto;
 font-size: 1em;
 text-align: right;
 cursor: pointer;
 padding: 0;
 margin: 0;
 vertical-align: middle;
 background-color: #f00;
 span {
  margin: auto;
  width: 15px;
  min-width: 15px;
 }

 * {
  @include disable-select();
 }
}

.accordion-expand {
 > .panel__header {
  [data-accordion] {
   span {
    &:before {
     @include icon-font();
     content: "\e034";
     color: #ababab;
    }
   }
  }
 }

 > .panel__body {
  display: block;
 }

 > .panel__footer {
  display: block;
 }
}

.accordion-collapse {
 > .panel__header {
  margin-bottom: -1px;

  [data-accordion] {
   span:before {
    @include icon-font();
    content: "\e031";
    color: #ababab;
   }
  }
 }

 > .panel__body {
  display: none;
 }

 > .panel__footer {
  display: none;
 }
}
// data-tab-nav styling
html body [data-tab-nav] {
 > .panel__header {
  @include disable-select();
  @include box-model(content-box);
  position: relative;
  display: block;
  width: 100%;
  left: -11px;
  margin: -1px -11px 0 0;
  padding: 0 21px 0 0;
  text-align: center;

  [data-tab-nav-item] {
   margin: 1px 0.2em -1px;
   display: inline-block;
   width: auto;
   height: auto;
   min-height: inherit;
   max-height: inherit;
   padding: 0 2em;
   height: 100%;
   color: $blue3;
   line-height: 300%;
   font-weight: bold;
   text-align: center;
   background-color: #f4f4f4;
   border: 1px solid $box-border;

   &:hover {
    cursor: pointer;
    background-color: #fff;
   }
  }

  [data-tab-nav-item*='active'] {
   background-color: #fff;
   border-bottom: 1px solid #fff;
   color: #000;

   &:hover {
    cursor: default;
   }
  }
 }

 [data-tab-nav-content] {
  display: none;
 }

 [data-tab-nav-content='active'] {
  display: block;
 }
}

html body [data-tab-nav*='nested'] {
 > .panel__header {
  left: 0;
  margin: 0;
  padding: 0;
 }
}

// data-selection-list styling
html body [data-selection-list] {
 * {
  @include box-model(border-box);
  @include disable-select();
  position: relative;
  font-size: 1em;
  font-weight: bold;
 }
 position: relative;
 display: inline-block;
 width: auto;
 border: none;
 padding: 0;
 margin: 0;
 border: none;
 color: $link-color;
 z-index: 999;

 > .panel__header {
  height: 2em;
  z-index: 3;
  @include panel-header(1,1);
  color: $link-color;

  [data-selection-list-item-selected],
  h3 {
   width: 100%;
   font-size: 1em;
   border: 1px solid #ccc;
   border-right: none;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   //@include gradient( #fff, #e6e6e6 );
   background-color: transparent;
   text-indent: 0.25em;
   cursor: pointer;
   padding: 0.5em 0 0.5em 0.3em;
  }

  [data-accordion] {
   width: auto;
   vertical-align: middle;
   height: auto;
   line-height: 100%;
   font-size: 1em;
   text-align: right;
   border: 1px solid #ccc;
   border-left: none;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   //@include gradient(#fff, #e6e6e6);
   background-color: transparent;

   span {
    width: 100%;
    text-align: right;
   }
  }
 }

 > .panel__body {
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  max-height: 200px;
  padding: 1px 0 0;
  z-index: 4;
  background-color: transparent;
 }

 &.accordion-collapse {
  > .panel__header {
   border-bottom: 1px solid transparent;
  }

  .panel__body {
   margin-bottom: 0;
   opacity: 0;
   visibility: hidden;
   @include transition();
   padding: 0;
  }
 }

 &.accordion-expand {
  margin-bottom: -1px;

  .panel__header {
   margin-bottom: 0;

   :first-child {
    border-bottom-left-radius: 0;
   }

  :last-child {
    border-bottom-right-radius: 0;
   }
  }

  .panel__body {
   margin-bottom: 0;
   opacity: 1;
   visibility: visible;
   @include transition();
   padding: 0;
  }
 }

 ul {
  margin-bottom: 0;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;

  li {
   position: relative;
   display: block;
   line-height: 100%;
   z-index: 8888;
   width: 100%;
   padding: 7px 4px;
   background: $white;
   cursor: pointer;
   border-top: 1px solid #e6e6e6;
   font-size: 0.6em;
   font-weight: bold;

   * {
    display: inline-table;
    margin: auto 0;
    vertical-align: middle;
   }

   span:last-child {
    padding-left: 0.25em;
   }

   &:first-child {
    border-top: 1px solid #efefef;
   }
  }

  li:hover {
   background-color: #e9f3f9;
  }
 }
}

[data-loading-spinner] {
 display: block;
 width: 100%;
 min-height: 100px;
}

[data-loading-spinner='white'] {
 span {
  @include spinner("white");
  margin-top: 15%;
 }
}

[data-loading-spinner='black'] {
 span {
  @include spinner();
  margin-top: 15%;
 }
}

[data-move-content-target] {
 display: none;
}

html body [data-modal-popup='action-pending-spinner'] {
 position: absolute;
 visibility: hidden;

 [data-modal-toggle] {
  background-color: transparent;

  .panel__body {
   padding: 5px 12.5px;
   height: auto;
   background-color: transparent;
   color: #545454;

   > div {
    background-color: transparent;
   }
  }
 }
}

html body [data-modal-button='action-pending-spinner'] {
 position: absolute;
 visibility: hidden;
}
