// Name:        mixins.scss
// Used:        All pages for development
// Description: Based off the Cross-Browser CSS3 Sass Library by Matthieu Aussaguel
// Last Author: Callum Silcock

// Mixins available:
//   -   clearfix (cfix)          - @extend .cfix to use
//   -   gradient                 - arguments: Start Color: #3C3C3C, End Color: #999999
//   -   border-radius            - arguments: Radius: 5px
//   -   border-radius-separate   - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
//   -   font-face                - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
//   -   opacity                  - arguments: Opacity: 0.5
//   -   text-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
//   -   box-shadow               - arguments: h-shadow, v-shadow, blur, spread, color, inset; IF inset available
//   -   sprite-bg                - arguments: $imgFilePath, x pos, y pos, $bgColor, $bgRepeat
//   -   icon-font                - arguments:
//   -   set-icon                 - arguments: $position, $icon, $size, $color
//   -   base64-background        - arguments: $color, $isfontbg
//   -   text-truncate            - arguments:
//   -   animate-props            - arguments: $delay: delay time in second -1s, $duration: duration time in sec - 1s, fill mode.
//   -   animate-type             - arguments: $animation-name: animation name - fadeIn
//   -   animate-sprite           - arguments: $animation-name: animation name - fadeIn
//   -   transform-rotate         - arguments: $val: degree to rotate
//   -   transform-scale          - arguments: $x: x-scale, $y: y-scale
//   -   transform-skew           - arguments: $x: x-degree, $y: y-degree
//   -   transform-translate      - arguments: $x: x-position, $y: y-position
//   -   transition               - arguments: $transition-property:all, $transition-time: .3s, $method: ease-out


//Box Model

@mixin box-model($model: border-box){
  -moz-box-sizing   : $model;
  -webkit-box-sizing: $model;
  box-sizing        : $model;
}

// Background Gradient
@mixin gradient($startColor: #6e7070, $endColor: #4c4e4d) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(top, $startColor, $endColor);
    // filter          :            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{($startColor)}', EndColorStr='#{($endColor)}');
}

// Border Radius
@mixin border-radius($radius: 5px) {
    -moz-border-radius   : $radius;
    -webkit-border-radius: $radius;
    border-radius        : $radius;
}

@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
    -webkit-border-top-left-radius    :     $topLeftRadius;
    -webkit-border-top-right-radius   :    $topRightRadius;
    -webkit-border-bottom-right-radius: $bottomLeftRadius;
    -webkit-border-bottom-left-radius :  $bottomRightRadius;

    -moz-border-radius-topleft        :     $topLeftRadius;
    -moz-border-radius-topright       :    $topRightRadius;
    -moz-border-radius-bottomright    : $bottomLeftRadius;
    -moz-border-radius-bottomleft     :  $bottomRightRadius;

    border-top-left-radius            :     $topLeftRadius;
    border-top-right-radius           :    $topRightRadius;
    border-bottom-right-radius        : $bottomLeftRadius;
    border-bottom-left-radius         :  $bottomRightRadius;
}

//Let's join the 21st century and use rem's shall we?

//Ugh parsing

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

//Ok lets do this

@mixin remix($property, $values) { //man i'm funny sometimes....
  $px : ();
  $rem: ();
  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    @else {
      $unit: unit($value);
      $val: parseInt($value);
      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / 16 + rem));
      }
      @if $unit == "rem" { //Might as well let us go backward and forward
        $px : append($px,  ($val * 16 + px));
        $rem: append($rem, $value);
      }
    }
  }
  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px; // AND a pixel fallback oh my!
    #{$property}: $rem;
  }
}

@mixin flex-like-that(){     // www.youtube.com/watch?v=6JYLrKyKZeo
  display: -webkit-box;      // OLD - iOS 6-, Safari 3.1-6
  display: -moz-box;         // OLD - Firefox 19- (buggy but mostly works)
  display: -ms-flexbox;      // TWEENER - IE 10
  display: -webkit-flex;     // NEW - Chrome
  display: flex;             // NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin flex-it-up($cols){
  -webkit-box-flex: $cols;   // OLD - iOS 6-, Safari 3.1-6
  -moz-box-flex: $cols;      // OLD - Firefox 19- (buggy but mostly works)
  -webkit-flex: $cols;       // TWEENER - IE 10
  -ms-flex: $cols;           // NEW - Chrome
  flex: $cols;               // NEW, Spec - Opera 12.1, Firefox 20+
}

// Font-size mixin from http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//Font Face
@mixin font-face($fontFamily: myFont, $eotFileSrc: 'myFont.eot', $woffFileSrc: 'myFont.woff', $ttfFileSrc: 'myFont.ttf') {
  font-family: $fontFamily;
  src: url($eotFileSrc)  format('eot'),
       url($woffFileSrc) format('woff'),
       url($ttfFileSrc)  format('truetype');
}

// Opacity
@mixin opacity($opacity: 0.5) {
    // filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}

// Text Shadow
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

// Box Shadow
@mixin box-shadow($hs: 1px, $vs: 1px, $blur: 5px, $spread: 1px, $color: grey, $inset: false) {
    @if not $inset{
        -webkit-box-shadow: $hs $vs $blur $spread $color;
        -moz-box-shadow   : $hs $vs $blur $spread $color;
        box-shadow        : $hs $vs $blur $spread $color;
    }
    @else{
        -webkit-box-shadow: $hs $vs $blur $spread $color $inset;
        -moz-box-shadow   : $hs $vs $blur $spread $color $inset;
        box-shadow        : $hs $vs $blur $spread $color $inset;
    }
}

// Sprite Image Background

@mixin sprite-bg($imgFilePath, $x: 0, $y: 0, $bgColor: transparent, $bgRepeat: no-repeat){
    background-image   : $imgFilePath;
    background-position: $x $y;
    background-color   : $bgColor;
    background-repeat  : $bgRepeat;
}

// Twelve Point Star (starburst)

@mixin twelve-point-star($color, $width, $height) {
   height    : $height;
   width     : $width;
   background: $color;
   position  : absolute;
   &:before {
        height           : $height;
        width            : $width;
        background       : $color;
        content          :"";
        position         : absolute;
        /* Rotate */
        -moz-transform   : rotate(30deg);
        -webkit-transform: rotate(30deg);
        -ms-transform    : rotate(30deg);
        -o-transform     : rotate(30deg);
        transform        : rotate(30deg);
   }
   &:after {
        height           : $height;
        width            : $width;
        background       : $color;
        content          :"";
        position         : absolute;
        /* Rotate */
        -moz-transform   : rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        -ms-transform    : rotate(-30deg);
        -o-transform     : rotate(-30deg);
        transform        : rotate(-30deg);
   }
}

// ZigZag (tear)

@mixin zig-zag ($color, $size) {
    background: linear-gradient(-45deg, transparent 75%, $color 75%) 0 50%,
                linear-gradient( 45deg, transparent 75%, $color 75%) 0 50%;
    background-repeat: repeat-x;
    background-size  :$size $size, $size $size;
}

// Background arrows

@mixin background-arrow-right ($background-color, $border-color, $size) {
    border-radius: 6px 0 0 6px;
        &:after,
        &:before {
          left          : 100%;
          border        : solid rgba(238, 238, 238, 0);
          border        : solid transparent\9;
          content       : " ";
          height        : 0;
          width         : 0;
          position      : absolute;
          pointer-events: none;
        }
        &:after {
          border-left-color: $background-color;
          border-width     : $size;
          top              : 50%;
          margin-top       : -$size;
        }
        &:before {
          border-left-color: $border-color;
          border-width     : $size+1;
          top              : 50%;
          margin-top       : -$size - 1;
        }
}

@mixin background-arrow-inleft-right ($background-color, $border-color, $size) {
        &:after,
        &:before {
          margin-left   : -1px;
          border        : solid rgba(238, 238, 238, 0);
          border        : solid transparent\9;
          content       : " ";
          height        : 0;
          width         : 0;
          position      : absolute;
          pointer-events: none;
          left          : 0;
        }
        &:after {
          border-left-color: $background-color;
          border-width     : $size;
          top              : 50%;
          margin-top       : -$size;
        }
        &:before {
          border-left-color: $border-color;
          border-width     : $size+1;
          top              : 50%;
          margin-top       : -$size - 1;
        }
}

@mixin background-arrow-inleft ($background-color, $border-color, $size) {
    border-radius: 0 6px 6px 0;
        &:after,
        &:before {
          margin-left   : -1px;
          border        : solid rgba(238, 238, 238, 0);
          border        : solid transparent\9;
          content       : " ";
          height        : 0;
          width         : 0;
          position      : absolute;
          pointer-events: none;
          left          : 0;
        }
        &:after {
          border-left-color: $background-color;
          border-width     : $size;
          top              : 50%;
          margin-top       : -$size;
        }
        &:before {
          border-left-color: $border-color;
          border-width     : $size+1;
          top              : 50%;
          margin-top       : -$size - 1;
        }
}
@mixin background-arrow-intop ($background-color, $border-color, $size) {
        &:after,
        &:before {
          margin-top   : -1px;
          border        : solid rgba(238, 238, 238, 0);
          border        : solid transparent\9;
          content       : " ";
          height        : 0;
          width         : 0;
          position      : absolute;
          pointer-events: none;
          left          : 0;
        }
        &:after {
          border-top-color: $background-color;
          border-width     : $size;
          left             : 50%;
          top              : 0;
        }
        &:before {
          border-top-color: $border-color;
          border-width     : $size+1;
          left             : 50%;
          top              : 0;
        }
}

//Icon Font Declare

@mixin icon-font(){
  text-decoration        : none;
  text-transform         : none;
  font-weight            : normal;
  font-style             : normal;
  font-variant           : normal;
  font-family            : 'Sportsbet-Icons';
  speak                  : none;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing         : antialiased;
  -webkit-font-smoothing : antialiased;
  text-rendering         : optimizeLegibility;
  color                 : $blue2;
}


//match function to get the exact value from any list
//pass the list and the value to match
//return the value if found  else false

@function match($list, $value) {
  @each $item in $list {
    $index: index($item, $value);
    @if $index {
        $return: if($index == 1, 2, $index);
        @return nth($item, $return);
    }
  }
  @return false;
}

//Create the data-icon definition
@mixin set-icon($position: "before", $icon: false, $size: 1em, $color: $blue2, $icon-set: $sb-icons-general) {
  // pseudo-element :before or :after
  &:#{$position} {

    // extra rules for the pseudo-element
    @content;

    @if $icon {
        //icon unicode which matches from list in icons.scss
        content: match($icon-set, $icon);
    }

    //font unit check
    @if($size != 1em){
      @if unitless($size){
        font-size: $size + em;
      }
      @else{
        font-size: $size;
      }
    }

    //font color check
    @if ($color != $blue2){
      color: $color;
    }

  }
}

//Base64 Backgrounds (as taken from the skin file)

@mixin base64-background($color:transparent, $isfontbg:false){
  @if $isfontbg == true {
    @if $color == white {
      background: url($white-base64);
    }
    @if $color == black {
      background: url($black-base64);
    }
    @if $color == transparent {
      background: url($transparent-base64);
    }
    background-repeat  : no-repeat;
    background-position: 3px 3px;
    background-size    : 63%;
    border-radius      : 30px;
  } @else {
    @if $color == white { background: url($white-base64) }
    @if $color == black { background: url($black-base64) }
    @if $color == transparent { background: url($transparent-base64) }
  }
}


//Text Truncate with elipsis
@mixin text-truncate {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

//CSS3 Animation  Delay and Duration with vendor-prefixes
@mixin animate-props ($delay: 1s, $duration: 1s, $mode: both) {
    -webkit-animation-delay    : $delay;
    -webkit-animation-duration : $duration;
    -webkit-animation-fill-mode: $mode;

    -ms-animation-delay        : $delay;
    -ms-animation-duration     : $duration;
    -ms-animation-fill-mode    : $mode;

    -moz-animation-delay       : $delay;
    -moz-animation-duration    : $duration;
    -moz-animation-fill-mode   : $mode;

    -o-animation-delay         : $delay;
    -o-animation-duration      : $duration;
    -o-animation-fill-mode     : $mode;

    animation-delay            : $delay;
    animation-duration         : $duration;
    animation-fill-mode        : $mode;
}

//CSS3 Animation name only with vendor-prefixes
@mixin animate-type($animation-name){
  -webkit-animation-name: $animation-name;
  -moz-animation-name   : $animation-name;
  -o-animation-name     : $animation-name;
  animation-name        : $animation-name;
}

//CSS3 Generate keyframes with vendor prefixes and contents
@mixin animate-sprite($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @-o-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

//CSS3 Transform mixins transform: rotate, scale, skew, translate
@mixin transform-rotate($val){
    @if($val != null){
        -webkit-transform: rotate($val + deg) ;
        -moz-transform   : rotate($val + deg) ;
        -o-transform     : rotate($val + deg) ;
        -ms-transform    : rotate($val + deg) ;
        transform        : rotate($val + deg) ;
    }
}
@mixin transform-scale($x:1, $y:1){
    -webkit-transform: scale($x, $y);
    -moz-transform   : scale($x, $y);
    -o-transform     : scale($x, $y);
    -ms-transform    : scale($x, $y);
    transform        : scale($x, $y);
}
@mixin transform-skew($x:0, $y:0){
    -webkit-transform: skew($x + deg, $y + deg) ;
    -moz-transform   : skew($x + deg, $y + deg) ;
    -o-transform     : skew($x + deg, $y + deg) ;
    -ms-transform    : skew($x + deg, $y + deg) ;
    transform        : skew($x + deg, $y + deg) ;
}
@mixin transform-translate($x, $y){
    @if($x != null){
        -webkit-transform: translateX($x);
        -moz-transform   : translateX($x);
        -o-transform     : translateX($x);
        -ms-transform    : translateX($x);
        transform        : translateX($x);
    }
    @if($y != null){
        -webkit-transform: translateY($y);
        -moz-transform   : translateY($y);
        -o-transform     : translateY($y);
        -ms-transform    : translateY($y);
        transform        : translateY($y);
    }
}

@mixin transition($transition-property:all, $transition-time: .3s, $method: ease-out) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin tooltip($tooltipClassName, $tooltipWidth, $tooltipHeight, $tooltipDownArrowClassName: "down-arrow-box-white"){

  // fails if nested.  Tried @at-root but that doesn't work either.

  // @include createArrow( $tooltipDownArrowClassName, 8px, 1px, $box-border, #fff, bottom, 50% );

  .#{$tooltipClassName}-panel{

    //position the tooltip
    bottom: 2em; //height of info icon
    left:-($tooltipWidth/2 - 0.5em);

    @extend %tooltip-panel;
    width: $tooltipWidth;
    @if($tooltipHeight != "auto"){
      margin-top: -($tooltipHeight + 7.8em);
      left: -($tooltipWidth / 2 - 0.8em);
    }
    @extend .#{$tooltipDownArrowClassName};
  }

  .#{$tooltipClassName}-panel__header{
    @extend %tooltip-panel__header;
  }

  .#{$tooltipClassName}-panel__body--loading,
  .#{$tooltipClassName}-panel__body{
    @extend %tooltip-panel__body;
    height: $tooltipHeight;
    min-height: $tooltipHeight;
    max-height: $tooltipHeight;
  }

  .#{$tooltipClassName}-panel__body--loading{
    @extend %tooltip-panel__body--loading;
  }

  .#{$tooltipClassName}-panel__footer{
    @extend %tooltip-panel__footer;
  }

  %info-tooltip:hover{
    .#{$tooltipClassName}-panel
    {
      display: block;
    }
  }

}


@mixin createArrow($className, $createArrowSize, $createArrowBorderWidth, $createArrowBorderColor, $createArrowBackGroundColor, $createArrowOrientation, $createArrowPosition){

  $orientVert: "top";
  $orientHoriz: "left";
  @if $createArrowOrientation == top {
    $orientVert: "bottom";
    $orientHoriz: "left";
  }
  @if $createArrowOrientation == bottom {
    $orientVert: "top";
    $orientHoriz: "left";
  }
  @if $createArrowOrientation == left {
    $orientVert: "right";
    $orientHoriz: "top";
  }
  @if $createArrowOrientation == right {
    $orientVert: "left";
    $orientHoriz: "top";
  }

 .#{$className} {
    position: relative;
    background: $createArrowBackGroundColor;
    border: $createArrowBorderWidth solid $createArrowBorderColor;
  }

  .#{$className}:after,
  .#{$className}:before {
    #{$orientVert}: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .#{$className}:after {
    border-color: rgba($createArrowBorderColor, 0);
    border-#{$orientVert}-color: $createArrowBackGroundColor;
    border-width: $createArrowSize;
    #{$orientHoriz}: $createArrowPosition;
    margin-left: -$createArrowSize;
  }

  .#{$className}:before {
    border-color: rgba(darken($createArrowBorderColor,10%), 0);
    border-#{$orientVert}-color: $createArrowBorderColor;
    border-width: ($createArrowSize + $createArrowBorderWidth + 1);
    #{$orientHoriz}: $createArrowPosition;
    margin-left: -($createArrowSize + $createArrowBorderWidth + 1);
  }

}

// Mixin for Ribbon
@mixin ribbon ($background-color,$border-color,$direction) {
  line-height: 1.667em;
  text-align: right;
  vertical-align: middle;
  color: #FFF;
  height: 22px;
  background-color: $background-color;
  display: inline-block;
  margin-right: 11px;
  @if $direction == right {
    &:before {
      border: none;
      margin: 0;
    }
    &:after {
      content: "";
      display: inline-block;
      border: 11px solid $background-color;
      margin-right: -11px;
      border-left-width: 10px;
      border-right-color: transparent;
    }
  }
  @if $direction == left {
    &:before {
      content: "";
      display: inline-block;
      border: 11px solid $background-color;
      margin-left: -11px;
      border-right-width: 10px;
      border-left-color: transparent;
    }
    &:after {
      border: none;
      margin: 0;
    }
  }
}

// ----------------------------------------------------------------------------------------
// Bet buttons mixin OLD [SILK]

@mixin bet-btn(){
  @include box-model(border-box);
  @include gradient($white, $btnStdNew1);
  @include border-radius(6px);
  position: relative;
  text-align: left;
  padding: 0 10px;
  min-height: 45px;
  // width: 1%;
  height: 45px;
  border: 1px solid #bababa;
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  border-collapse: collapse;
  &:hover {
    @include gradient($blue5, $blue1);
    color: $white;
    text-decoration: none;
  }
  span{
    display: table-cell;
    position: relative;
    margin: auto 0;
    vertical-align: middle;
    line-height: 100%;
    margin-right: 0.3em;
  }
  [data-world-cup-flag]{
    display: table-cell;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 26px;
    margin-right: 0.3em;
  }
  [data-world-cup-flag='none']{
    display: none;
  }
  [data-market-label]{
    width: 1500px;
    padding-left: 0.833em;
    font-weight: normal;
    [data-market-handicap-value]{
      display: inline;
      font-weight: normal;
      margin-left: .5em;
    }
    &:first-child{
      padding-left: 0;
    }
  }
  [data-market-price-value]{
    border-collapse: collapse;
    width: 1000px;
    text-align: right;
    &:first-child{
      display: table-cell;
      float: none;
      text-align: center;
      margin-right: 0;
    }
  }
}
// ----------------------------------------------------------------------------------------
// Green Submit Button

  @mixin green-btn() {
    font-weight: bold;
    text-align: center;
    @include remix (padding, 5px 15px);
    border: 1px solid #72A457;
    color: white;
    @include gradient($btnAct1, $btnAct2);
    @include border-radius(6px);
    width: 100%;
    font-size: 1.2em;
    height: 3.0em;
    cursor: pointer;
    outline:none;
    &:hover {
      @include gradient($btnAct1, $btnAct3);
      text-decoration: none;
    }
  }

// ----------------------------------------------------------------------------------------
// Spinner mixin [SILK]

@mixin spinner($color:""){
  opacity: .8;
  display: block;
  border-radius: 50%;
  font-size: 29px;
  width: .25em;
  height: .25em;
  @if($color == "white"){
    box-shadow:
    0 -.4em       0 0 rgba(255,255,255,1),
    -.28em -.28em 0 0 rgba(255,255,255,.75),
    -.4em 0       0 0 rgba(255,255,255,.50),
    -.28em .28em  0 0 rgba(255,255,255,.25);
  }else{
    box-shadow:
    0 -.4em       0 0 rgba(0,0,0,1),
    -.28em -.28em 0 0 rgba(0,0,0,.75),
    -.4em 0       0 0 rgba(0,0,0,.50),
    -.28em .28em  0 0 rgba(0,0,0,.25);
  }
  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
  margin: 0 auto;
  color: #fff;
  background-color: transparent;
}

// ----------------------------------------------------------------------------------------
// Disable touch devices from selecting mixin [SILK]

@mixin disable-select(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// ----------------------------------------------------------------------------------------
// Get around the data-attribute quote problem [SILK]

// @function data-quote-workaround($input,$star:0) {
//   @if($star == 0){
//     @return "='" + $input + "'";
//     }@else{
//       @return "*='" + $input + "'";
//     }
// }
