@import "_mixins.scss";
[data-modal-popup] {
	z-index: 2000;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	padding-top:10px;
	[data-modal-toggle]{
		@include transform-scale ($x: 0.7, $y: 0.7 );
		@include transition();
		position: fixed;
		top: 20%;
		left: 25%;
		width: 50%;
		height: auto;
		z-index: 2000;
		opacity: 0;
		visibility: hidden;
		.panel__header {
			padding: 5px 12.5px;
			color:white;
			display:block;
			background-color:#0067ab;
			border-bottom: 0;
			h3 {
				font-size: 1.2em;
				display: inline-block;
				line-height: 2;
			}
			a {
				color:#fff;
				float: right;
				line-height: 2;
				span{
					// @extend .close;
					// @extend .ib;
				}
				span:before {
					color:#fff;
				}
				&:hover {
					text-decoration: none;
					cursor: pointer;
				}
			}
		}
		.panel__body {
			padding: 5px 19.5px 20px 19.5px;
			height: auto;
			background-color: white;
			color: #545454;
		}
	}
	.modal_show {
		@include transform-scale ($x: 1, $y: 1 );
		@include transition();
		opacity: 1;
		visibility: visible;
		iframe {
			width: 100%;
		}

	}
	.show_modal {
		position:relative;
		position: relative;
		text-align:center;
		padding: 10px;
		width: 10%;
		left:40%;
		left: 0;
		z-index: 12;
	}
	[data-modal-overlay] {
		@include transition();
		visibility: hidden;
		position: fixed;
		width: 110%;
		height: 110%;
		top: 0;
		left: 0;
		z-index: 1999;
		opacity: 0;
		background: rgba(0,0,0,0.6);
		 > a{
		 	display: block;
		 	width: 110%;
		 	height: 110%;
		 }
	}
	.overlay_show {
		opacity: 1;
		visibility: visible;
		@include transition();
	}
}

/*modal pop-up positioning*/
[data-modal-popup]{
    [data-modal-toggle="absolute"]{
        position:absolute;
    }
    [data-modal-toggle="fixed"]{
        position:fixed;
    }
}
