/*
**Examples**

```
<div class="panel__header">

</div>
```
*/

// ----------------------------------------------------------------------------------------
//Lets get our generic panel on

@mixin panel($killpadd:0,$border:#E5E5E5,$background:$white){ //need to replace with skin vars
	@include box-model(border-box);
	*:before, *:after, *{
		@include box-model(border-box);
	}
	border: 1px solid $border;
	background-color: $background;

	@include remix(margin, 10px 0);
	@if($killpadd == 0){
		@include remix(padding, 0px 20px);
	} @else {
		@include remix(padding, 0px);
	}
	a{
		text-decoration: none;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	// >.panel__header{
	// 	@extend %panel__header;
	// }
	// >.panel__body{
	// 	@extend %panel__body;
	// }
	// >.panel__footer{
	// 	@extend %panel__footer;
	// }
	@content;
}

// ----------------------------------------------------------------------------------------
//Ok lets do the header now

@mixin panel-header($killpadd:0,$killborder:0){
	color: #000;
	font-weight: bold;
	display: table;
	width: 100%;
	@if($killpadd == 0){
		@include remix(padding, 10px 0px);
	}
	@if($killborder == 0){
		border-bottom: 1px solid $box-border;
	}
	//display: block; //For the moment as i'm getting overwritten
	>*{
		display: table-cell;
		width: auto;
		height: auto;
		font-weight: bold;
		vertical-align: middle;
	}
	@content;
}

// ----------------------------------------------------------------------------------------
// Footer time...

@mixin panel-footer($footer-icon:1,$border:$box-border){
	display: table;
	width: 100%;
	vertical-align: middle;
	text-align: right;
	border-top: 1px solid $border;
	padding: 0.3em 0 0.3em 0;
	margin: 0.3em 0 0.3em 0;
	>a{
		display: table-cell;
		&:hover{
			text-decoration: underline;
			&:after{
				text-decoration: none;
				display: inline-block;
			}
		}
		@if($footer-icon == 1){
			&:after{
				@include icon-font();
				@include set-icon("after","chevron-right",0.9);
			}
		}
	}
	>p{
		display: table-cell;
		width: 100%;
	}
	@content;
}
