//ALL CLASSES MUST BE DEFINED WITH % ONLY
@import "_mixins.scss";

%grid-c-1-2 {
  width: 50%;
}

%grid-offset-1-2 {
  margin-left: 50%;
}

%grid-c-1-3 {
  width: 33.33333%;
}

%grid-offset-1-3 {
  margin-left: 33.33333%;
}

%grid-c-2-3 {
  width: 66.66667%;
}

%grid-offset-2-3 {
  margin-left: 66.66667%;
}

%grid-c-1-4 {
  width: 25%;
}

%grid-offset-1-4 {
  margin-left: 25%;
}

%grid-c-3-4 {
  width: 75%;
}

%grid-offset-3-4 {
  margin-left: 75%;
}

%grid-c-1-5 {
  width: 20%;
}

%grid-offset-1-5 {
  margin-left: 20%;
}

%grid-c-2-5 {
  width: 40%;
}

%grid-offset-2-5 {
  margin-left: 40%;
}

%grid-c-3-5 {
  width: 60%;
}

%grid-offset-3-5 {
  margin-left: 60%;
}

%grid-c-4-5 {
  width: 80%;
}

%grid-offset-4-5 {
  margin-left: 80%;
}

%grid-c-1-6 {
  width: 16.66667%;
}

%grid-offset-1-6 {
  margin-left: 16.66667%;
}

%grid-c-5-6 {
  width: 83.33333%;
}

%grid-offset-5-6 {
  margin-left: 83.33333%;
}

%grid-c-1-7 {
  width: 14.28571%;
}

%grid-offset-1-7 {
  margin-left: 14.28571%;
}

%grid-c-2-7 {
  width: 28.57143%;
}

%grid-offset-2-7 {
  margin-left: 28.57143%;
}

%grid-c-3-7 {
  width: 42.85714%;
}

%grid-offset-3-7 {
  margin-left: 42.85714%;
}

%grid-c-4-7 {
  width: 57.14286%;
}

%grid-offset-4-7 {
  margin-left: 57.14286%;
}

%grid-c-5-7 {
  width: 71.42857%;
}

%grid-offset-5-7 {
  margin-left: 71.42857%;
}

%grid-c-6-7 {
  width: 85.71429%;
}

%grid-offset-6-7 {
  margin-left: 85.71429%;
}

%grid-c-1-8 {
  width: 12.5%;
}

%grid-offset-1-8 {
  margin-left: 12.5%;
}

%grid-c-3-8 {
  width: 37.5%;
}

%grid-offset-3-8 {
  margin-left: 37.5%;
}

%grid-c-5-8 {
  width: 62.5%;
}

%grid-offset-5-8 {
  margin-left: 62.5%;
}

%grid-c-7-8 {
  width: 87.5%;
}

%grid-offset-7-8 {
  margin-left: 87.5%;
}

%grid-c-1-9 {
  width: 11.11111%;
}

%grid-offset-1-9 {
  margin-left: 11.11111%;
}

%grid-c-2-9 {
  width: 22.22222%;
}

%grid-offset-2-9 {
  margin-left: 22.22222%;
}

%grid-c-4-9 {
  width: 44.44444%;
}

%grid-offset-4-9 {
  margin-left: 44.44444%;
}

%grid-c-5-9 {
  width: 55.55556%;
}

%grid-offset-5-9 {
  margin-left: 55.55556%;
}

%grid-c-6-9 {
  width: 66.66667%;
}

%grid-offset-6-9 {
  margin-left: 66.66667%;
}

%grid-c-7-9 {
  width: 77.77778%;
}

%grid-offset-7-9 {
  margin-left: 77.77778%;
}

%grid-c-8-9 {
  width: 88.88889%;
}

%grid-offset-8-9 {
  margin-left: 88.88889%;
}

%grid-c-1-10 {
  width: 10%;
}

%grid-offset-1-10 {
  margin-left: 10%;
}

%grid-c-3-10 {
  width: 30%;
}

%grid-offset-3-10 {
  margin-left: 30%;
}

%grid-c-7-10 {
  width: 70%;
}

%grid-offset-7-10 {
  margin-left: 70%;
}

%grid-c-9-10 {
  width: 90%;
}

%grid-offset-9-10 {
  margin-left: 90%;
}

%grid-c-1-11 {
  width: 9.09091%;
}

%grid-offset-1-11 {
  margin-left: 9.09091%;
}

%grid-c-2-11 {
  width: 18.18182%;
}

%grid-offset-2-11 {
  margin-left: 18.18182%;
}

%grid-c-3-11 {
  width: 27.27273%;
}

%grid-offset-3-11 {
  margin-left: 27.27273%;
}

%grid-c-4-11 {
  width: 36.36364%;
}

%grid-offset-4-11 {
  margin-left: 36.36364%;
}

%grid-c-5-11 {
  width: 45.45455%;
}

%grid-offset-5-11 {
  margin-left: 45.45455%;
}

%grid-c-6-11 {
  width: 54.54545%;
}

%grid-offset-6-11 {
  margin-left: 54.54545%;
}

%grid-c-7-11 {
  width: 63.63636%;
}

%grid-offset-7-11 {
  margin-left: 63.63636%;
}

%grid-c-8-11 {
  width: 72.72727%;
}

%grid-offset-8-11 {
  margin-left: 72.72727%;
}

%grid-c-9-11 {
  width: 81.81818%;
}

%grid-offset-9-11 {
  margin-left: 81.81818%;
}

%grid-c-10-11 {
  width: 90.90909%;
}

%grid-offset-10-11 {
  margin-left: 90.90909%;
}

%grid-c-1-12 {
  width: 8.33333%;
}

%grid-offset-1-12 {
  margin-left: 8.33333%;
}

%grid-c-5-12 {
  width: 41.66667%;
}

%grid-offset-5-12 {
  margin-left: 41.66667%;
}

%grid-c-7-12 {
  width: 58.33333%;
}

%grid-offset-7-12 {
  margin-left: 58.33333%;
}

%grid-c-9-12 {
  width: 75%;
}

%grid-offset-9-12 {
  margin-left: 75%;
}

%grid-c-11-12 {
  width: 91.66667%;
}

%grid-offset-11-12 {
  margin-left: 91.66667%;
}



%grid-r {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yui/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
    font-family: FreeSans, Arimo, "Droid Sans", Arial, Helvetica, sans-serif;

    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */

    // display: -webkit-flex;
    // -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    // display: -ms-flexbox;
    // -ms-flex-flow: row wrap;
}

   // Opera as of 12 on Windows needs word-spacing.
   // The ".opera-only" selector is used to prevent actual prefocus styling
   // and is not required in markup.
%grid-r {
    word-spacing: -0.43em;
}

%grid-c {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

//Resets the font family back to the OS/browser's default sans-serif font,
//this the same font stack that Normalize.css sets for the `body`.
%grid-r [class *= "grid-c"] {
    font-family: sans-serif;
}



%grid-c-1,%grid-c-1-2,%grid-c-1-3,%grid-c-2-3,%grid-c-1-4,%grid-c-3-4,%grid-c-1-5,%grid-c-2-5,%grid-c-3-5,%grid-c-4-5,%grid-c-1-6,%grid-c-5-6,%grid-c-1-7,%grid-c-2-7,%grid-c-3-7,%grid-c-4-7,%grid-c-5-7,%grid-c-6-7,%grid-c-1-8,%grid-c-3-8,%grid-c-5-8,%grid-c-7-8,%grid-c-1-9,%grid-c-2-9,%grid-c-4-9,%grid-c-5-9,%grid-c-6-9,%grid-c-7-9,%grid-c-8-9,%grid-c-1-10,%grid-c-3-10,%grid-c-7-10,%grid-c-9-10,%grid-c-1-11,%grid-c-2-11,%grid-c-3-11,%grid-c-4-11,%grid-c-5-11,%grid-c-6-11,%grid-c-7-11,%grid-c-8-11,%grid-c-9-11,%grid-c-10-11,%grid-c-1-12,%grid-c-5-12,%grid-c-7-12,%grid-c-9-12,%grid-c-11-12,
%grid-c-1,
%grid-c-1-2,
%grid-c-1-3,
%grid-c-2-3,
%grid-c-1-4,
%grid-c-3-4,
%grid-c-1-5,
%grid-c-2-5,
%grid-c-3-5,
%grid-c-4-5,
%grid-c-1-6,
%grid-c-5-6,
%grid-c-1-8,
%grid-c-3-8,
%grid-c-5-8,
%grid-c-7-8,
%grid-c-1-12,
%grid-c-5-12,
%grid-c-7-12,
%grid-c-11-12,
%grid-c-1-24,
%grid-c-5-24,
%grid-c-7-24,
%grid-c-11-24,
%grid-c-13-24,
%grid-c-17-24,
%grid-c-19-24,
%grid-c-23-24 {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/

%grid-r-r {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;

    /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yui/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
    font-family: FreeSans, Arimo, "Droid Sans", Arial, Helvetica,sans-serif;

    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
%grid-r-r {
    word-spacing: -0.43em;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
%grid-r-r [class *= "grid-c"] {
    font-family: sans-serif;
}

%grid-r-r img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 980px) {
    %grid-visible-phone {
        display: none;
    }
    %grid-visible-tablet {
        display: none;
    }
    %grid-hidden-desktop {
        display: none;
    }
}

@media (max-width: 480px) {
    %grid-r-r > %grid-c,
    %grid-r-r > [class *= "grid-c-"] {
        width: 100%;
    }
}

@media (max-width: 767px) {
    %grid-r-r > %grid-c,
    %grid-r-r > [class *= "grid-c-"] {
        width: 100%;
    }
    %grid-hidden-phone {
        display: none;
    }
    %grid-visible-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    %grid-hidden-tablet {
        display: none;
    }
    %grid-visible-desktop {
        display: none;
    }
}

// -----------------------------------------------------------------------
// The spinner is now a mixin, please use spinner() [SILK]

%spinner {
  opacity: .8;
  display: inline-block;
  border-radius: 50%;
  font-size: 29px;
  width: .25em;
  height: .25em;
  box-shadow:
  0 -.4em       0 0 rgba(0,0,0,1),
  -.28em -.28em 0 0 rgba(0,0,0,.75),
  -.4em 0       0 0 rgba(0,0,0,.50),
  -.28em .28em  0 0 rgba(0,0,0,.25);
  -webkit-animation: .85s ajax-loader-rotate steps(8) infinite;
  -moz-animation: .85s ajax-loader-rotate steps(8) infinite;
  animation: .85s ajax-loader-rotate steps(8) infinite;
  margin: 0 auto;
  color: #fff;
  background-color: #f00;
  /*Time for some IE hacks - get our fallback on ;)*/
background: transparent url(/static/images/default/site/spinner.gif) 0 0 no-repeat\0/IE8+9;
width: 7px\0/IE8+9;
height: 7px\0/IE8+9;

}
%spinner-white {
  @extend %spinner;
  box-shadow:
  0 -.4em       0 0 rgba(255,255,255,1),
  -.28em -.28em 0 0 rgba(255,255,255,.75),
  -.4em 0       0 0 rgba(255,255,255,.50),
  -.28em .28em  0 0 rgba(255,255,255,.25);
}


//Buttons
%social-button{
  width:28%;
  height:30px;
  line-height: 30px;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  color:$title-blue;
  border: 1px solid $box-border;
  border-radius: 5px 5px 5px 5px;
  @include gradient(#ffffff, #dcdcdc);
  margin-top: 1em;
  margin-left:0em;
  margin-right:1em;
}

%disable-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// truncate block or line
%truncate-block {
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
    -o-text-overflow: ellipsis;  // for Opera 9 & 10
}
%truncate-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
    -o-text-overflow: ellipsis;  // for Opera 9 & 10
}

/**********************************************
* ***************** WIDGETS *******************
**********************************************/

// -----------------------------------------------------------------------
// This is now a mixin, please use panel__header() [SILK]

%panel__header{
  // @extend %grid-c-1;
  // @extend %grid-r-r;
  // height: 3.2em;
  // line-height: 100%;
  display: table;
  width: 100%;
  color: $black;
  font-weight: bold;
  border-bottom: 1px solid $box-border;
  color: $black;
  font-weight: bold;
  border-bottom: 1px solid $box-border;
  h2,
  h3,
  h4,
  h5{
    // @extend %grid-c-7-8;
    display: table-cell;
    width: auto;
    height: auto;//100%;
    font-weight: bold;
    font-size: 1.083em;
    vertical-align: middle;
    // line-height: 300%;
  }
  // [data-accordion]{
    // @extend %grid-c-1-8;
  // }
}

%panel__header--blue2{
  @extend %panel__header;
  background-color: #006AB6;
  color: #fff;
  margin-left: -10.5px;
  margin-right: -10.5px;
  padding: 0 0.8em 0 0.8em;
  border: 0;
}

%panel__header--blue{
  @extend %panel__header;
  background-color: #006ab6;
  >h3{
    color: #fff;
  }
}

%panel__body{
  // display: flex;
  // align-items: stretch;
  // display: block;
  // height: 11.28em;
  // min-height: 11.28em;
  // max-height: 11.28em;
  // @extend %grid-c-1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-top: none;
  >p{
    // margin-top:10px;
    line-height: 1.167em;
  }
}

%panel__body--double-height{
  @extend %panel__body;
  height: 30.55em;
  min-height: 30.55em;
  max-height: 30.55em;
  margin: 0 0.8em 0 0.8em;
  padding-left: 0;
  padding-right: 0;
}

// -----------------------------------------------------------------------
// This is now a mixin, please use panel__footer() [SILK]

%panel__footer{
  // display: flex;
  // align-items: stretch;
  // @include display(flex);
  // @include align-self(center);
  // @include align-items(stretch);
  // width: 100%;
  // @extend %grid-c-1;
  // height: 3.2em;
  // line-height: 2.7em;
  display: table;
  vertical-align: middle;
  text-align: right;
  // line-height: 100%;
  // height: 2.500em;
  // min-height: 3.2em;
  // max-height: 3.2em;
  border-top: 1px solid $box-border;
  padding: 0.3em 0 0.3em 0;
  margin: 0.3em 0 0.3em 0;
  >a{
    display: table-cell;
    // float: right;
    // flex: 1 auto;
    //removed underline from icon
    &:hover{
      text-decoration: underline;
      &:after{
        text-decoration: none;
        display: inline-block;
      }
    }
    &:after{
      @extend span%icon-small;
      content: "\e033";
      font-size: 0.9em;
    }
  }
  >p{
    display: table-cell;
    width: 100%;
    // flex: 4 auto;
    // @extend %grid-c-4-5;
  }
}

/* generic panel definition */
%panel{
  @include box-model(border-box);
  *:before, *:after, *{
    @include box-model(border-box);
  }
  border: 1px solid $box-border;
  margin: 0.6em 0 0.6em 0;
  padding: 0 0.8em 0 0.8em;
  a{
    text-decoration: none;
    cursor: pointer;
  }
  >.panel__header{
    @extend %panel__header;
  }
  >.panel__body{
    @extend %panel__body;
  }
  >.panel__footer{
    @extend %panel__footer;
  }
}

// 3/4 width content area as seen in My Account
%content-area-3-4{
  @include box-model(border-box);
  @extend %grid-r-r;
  @extend %grid-c-3-4;
}

// 1/3 width generic column
%column-1-3{
  @extend %grid-c-1-3;
  padding: 0 0.5em 0 0.5em;
  &:first-child{
      padding-right: 5px;
      padding-left: 0;
  }
  &:last-child{
      padding-left: 5px;
      padding-right: 0;
  }
}
// 1/2 width generic column
%column-1-2{
  @extend %grid-c-1-2;
  padding: 0 0.5em 0 0.5em;
  &:first-child{
      padding-right: 5px;
      padding-left: 0;
  }
  &:last-child{
      padding-left: 5px;
      padding-right: 0;
  }
}

@include createArrow('down-arrow-box', 8px, 1px, $message-blue, $message-blue, bottom, 20%);
@include createArrow('down-arrow-box-white', 8px, 1px, $box-border, #fff, bottom, 50%);
%info-tooltip{
  //@extend span.info;
  &:before{
    @include icon-font();
    content: "\e040";
  }
  position: relative;
  padding-top:8px;
  margin-top:-8px;
  border: 1px solid transparent;
}

%tooltip-panel{
  display: none;
  position: absolute;
  z-index:9999;
  //top: 0; //don't position here
  padding: 4px 10px;
  -webkit-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 5px 10px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 5px 10px rgba(50, 50, 50, 0.5);
  border-radius: 8px;
}

%tooltip-panel__header{
  @extend %panel__header;
  z-index: 2;
  height: 3em;
  min-height: 3em;
  h4{
    display: block;
    text-align: left;
    //font-weight: bold;
    font-size: 1.33em;
    color: $title-blue;
  }
}

%tooltip-panel__body{
  padding-top: 10px;
  border: none;
  border-top: none;
  >p{
    margin-top:10px;
  }
  z-index: 1;
  @extend %grid-c-1;
  @extend %truncate-block;
  text-align: left;
}

%tooltip-panel__body--loading{
  @extend %tooltip-panel__body;
  padding-top: 10em;
  >span{
    display: block;
    &.spinner{
      @extend %spinner;
    }
    @extend %ib;
  }
}

%tooltip-panel__footer{
  @extend %panel__footer;
  z-index:2;
  height: 4em;
  min-height: 4em;
  max-height: 4em;
  line-height: 1.2em;
  @extend %grid-c-1;
  font-size: 0.9em;
  >a{
    float: right;
  }
  >a:after {
    //@extend span.icon;
    //@extend span.icon-small;
    @include icon-font();
    content: "\e04f";
  }
  >p{
    @extend %grid-c-2-3;
  }
}

%info-tooltip:hover{
  .tooltip-panel
  {
    display: block;
  }
}

span%icon{
    @include icon-font();
    margin: 0 4px;
  }
  span%icon-small{
    @extend span%icon;
    font-size: 0.9em;
  }
  span%icon-medium{
    @extend span%icon;
    font-size: 1.5em;
  }
  span%icon-large{
    @extend span%icon;
    font-size: 2.0em;
  }

%std-btn-props{
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}

// standard button grey gradient with blue(on)
%btn-std {
  border: 1px solid #959595;
  color: #006aad;
  @extend %std-btn-props;
  @include gradient($white, $btnStd1);
  @include border-radius(6px);
  &:hover {
    @include gradient($white, $btnStd2);
    text-decoration: none;
  }
  &.on {
    color: $white;
    @include gradient($btnStdon1, $btnStdon2);
    &:hover {
      color: $white !important;
      @include gradient($btnStdon1, $btnStdon3);
      text-decoration: none;
    }
  }
}

a%btn-std {
  color: #006aad;
}
%btn-std-new {
  position: relative;
  display: block;
  border: 1px solid #bababa;
  color: #000;
  text-transform: capitalize;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  padding: 5px 8px;
  @include gradient($white, $btnStdNew1);
  @include border-radius(6px);
  &:hover {
    text-decoration: none;
  }
}
// standard button green gradient
%btn-act {
  padding: 5px 15px;
  border: 1px solid #72A457;
  color: white;
  @extend %std-btn-props;
  @include gradient($btnAct1, $btnAct2);
  @include border-radius(6px);
  &:hover {
    @include gradient($btnAct1, $btnAct3);
    text-decoration: none;
  }
}

a%btn-act {
  color: white;
}

span%email:before {
  @extend span%icon;
  content: "\e047";
}

%std-btn-props{
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
}

%btn-act {
  padding: 5px 15px;
  border: 1px solid #72A457;
  color: white;
  @extend %std-btn-props;
  @include gradient($btnAct1, $btnAct2);
  @include border-radius(6px);
  &:hover {
    @include gradient($btnAct1, $btnAct3);
    text-decoration: none;
  }
}

%ib {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
