// Works in directional - north = n, north-right = nr,
//                        nort-left = nl, east = e, east-top = et,
//                        east-bottom = eb
@import "_mixins.scss";

@include tooltip(tooltip, 20em, auto);
@include tooltip(tooltip-wide, 30em, auto);

/* Tooltip Instances */
span[data-tooltip-type*='panel']{
  @extend %info-tooltip;
  .tooltip-panel__body--2col{
    @extend .tooltip-panel__body;
    text-align: center;
    span{
      line-height: 3em;
      background-color: #f7f7f7;
      padding: 5px 5px 0 5px;
      margin: 0 0 0.5em 0;
    }
    span:nth-child(1),
    span:nth-child(2){
      line-height: 1.5em;
      background-color: transparent;
      font-weight: normal;
    }
    span:nth-child(odd){
      @extend %grid-c-1-2;
      border-right: 0.65em solid #fff;
    }
    span:nth-child(even){
      @extend %grid-c-1-2;
      font-weight: normal;
    }
  }
  .tooltip-panel__body--3col{
    @extend .tooltip-panel__body;
    text-align: center;
    width:100%;
    padding: 0;
    > span{
      @extend %grid-r-r;
      margin-bottom: 0.5em;
      background-color: #f7f7f7;
      padding: 0;
      font-weight: normal;
      font-size: 0.9em;
      display: block;
      clear: both;
      span{
        height: 100%;
        min-height: 100%;
        padding: 0.5em 0 0.5em 0;
      }
      span:nth-child(1){
        @extend %grid-c-1-3;
        font-weight: bold;
      }
      span:nth-child(2){
        @extend %grid-c-1-3;
        border-left: 0.5em solid #fff;
        border-right: 0.5em solid #fff;
        word-wrap: break-word;
      }
      span:nth-child(3){
        @extend %grid-c-1-3;
      }
    }
    span:first-child{
      span{
        background-color: #fff;
        padding: 0.5em 0 0.5em 0;
      }
      span:nth-child(1){
        font-weight: normal;
      }
    }
  }
 }
