//Variables
@import "variables/variables";
@import "variables/colors";
//Mixins
@import "mixins/reset";
//Components
@import "components/placeholders";
@import "components/card";
@import "components/clearfix";
@import "components/generic";
@import "components/mixins";
@import "components/modal-popup";
//Pages
@import "pages/index";


* {
	box-sizing: border-box;
}

nav[role='primary']{
	display: block;
	float: left;
	min-height: 400px;
	width: 20%;
	background-color: #a0a0a0;
}

#order-history{
	display: block;
	float: right;
	width: 80%;
	background-color: 888;
	border: 1px solid #888;
	min-height: 400px;
}

details{
	clear: both;
	display: block;
}

details>summary {
	transition: color 1s;
	color: black;
}

details[open]>summary {
	color: red;
	display: block;
}

#test__output{
	display: block;
	position: absolute;
	bottom: 0;
}
