
// Colors
// All basic color variables for the whole website

// All colors currently align with the old Styleguide

// Colors work on scale of 1-5 with 1 being darkest and 5 being lightest

// Single Colors

$white           : #FFF;
$black           : #000;

$blue1           : #00549E;
$blue2           : #0067AB;
$blue3           : #1C75BC;
$blue4           : #4495D1;
$blue5           : #2EA5DD;
$yellow1         : #FAA71C;
$yellow2         : #FEBC11;
$yellow3         : #F7C514;
$yellow4         : #FFD200;
$yellow5         : #FAD701;

$success-text    : #7DB841;
$success-bg      : #E9F8E5;
$error-text      : #ED1C24;

$link-color      : #006CB3;

$message-blue    : #C6E7F7;
$title-blue      : #006CB3;
$mbs-yellow      : #FEBC11;
// Single Colors for Gradient Buttons

//std button 'normal' gradients are white to grey
$btnStd1         : #C5C5C5;
$btnStdBrdr      : #959595;

//std button 'hover' are white to dark grey
$btnStd2         : #959595;

//std button 'on' and 'hover' are light blue to dark blue
//btn-sort
$btnStdon1       : #34B0E2;
$btnStdon2       : #154D93;
$btnStdon3       : #002363;

//act button gradients are light green to dark green
$btnAct1         : #7DB841;
$btnAct2         : #458A26;
$btnAct3         : #206B05;
$btnActBrdr      : #72A457;

//go button gradients are light yellow to dark yellow
$btnGo1          : #FFDE00;
$btnGo2          : #F1B422;
$btnGo3          : #E69524;

//std-new buttons are white to light grey
$btnStdNew1      : #E6E6E6;

// Single Colors for all used Borders

$box-border      : #D5D5D5;

// Button gradients

$btnStdGradient       : $white, $btnStd1;
$btnStdHoverGradient  : $white, $btnStd2;
$btnStdOnGradient     : $btnStdon1, $btnStdon2;
$btnStdOnHoverGradient: $btnStdon1, $btnStdon3;
$btnActGradient       : $btnAct1, $btnAct2;
$btnActHoverGradient  : $btnAct1, $btnAct3;
$btnGoGradient        : $btnGo1, $btnGo2;
$btnGoHoverGradient   : $btnGo1, $btnGo3;
$btnStdNewGradient    : $white, $btnStdNew1;

//Social Media colors

$facebook_color           : #3B5999;
$twitter_color            : #55ACEE;
$linkedin_color           : #006DB3;
$apple_color              : #737373;
$google_color             : #4285F4;
$google_plus_color        : #DD4B39;
$youtube_color            : #CD201F;
$vimeo_color              : #48B6ED;
$pinterest_color          : #CE1A19;
$yelp_color               : #C30F00;
$dribbble_color           : #ED4584;
$amazon_color             : #FF9700;
$ebay_color               : #083790;
$skype_color              : #00ACF4;
$instagram_color          : #396D9A;
$dropbox_color            : #0D84DE;
$flickr_color             : #EA0066;
$github_color             : #2F2F2F;
$basecamp_color           : #6BBD6D;
$tumblr_color             : #304C68;
$foursquare_color         : #207DC5;
$box_color                : #1277BC;

// Sprites

// Base 64 Colors (used for bg fixes)

$transparent-base64: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
$black-base64      : "data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=";
$white-base64      : "data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==";
